# Visual Studio
.vs/
bin/
obj/
**/.idea/
build/

cimgui/
dist/
**/lib/

Setup/Generator/Properties/
Setup/build/
**/*DotSettings.user

imgui.ini
BeefSpace.toml
BeefSpace_User.toml
recovery/
example/build
example/pkg
